<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link rel="stylesheet" href="/stylesheet/style1.css">

    <style>

    body{
      background: #ffffff;
      margin: 0;
    } 
    .date,.time{
        text-align: center;
        margin-top: 10px;
        font-size: 30px;
    }
	
	</style>

<script type="text/javascript">

	  
var socket = io("http://192.168.1.28:3000");

// hàm lắng nghe server gửi data

socket.on("web", function(data){

console.log(data); //F12


IsJsonString(data);
	
	if(checkjson)
	{
			console.log("JSON OK!!!");
			var  DataVDK = data;
	
			var DataJson = JSON.parse(DataVDK); 
			
			if(DataJson.TB1 != null)
			{
				//document.getElementById("cai3").innerHTML = DataJson.C3;
				
				if(DataJson.TB1 == 0)
				{
					document.getElementById("den1").src="images/off.jpg";
					document.getElementById("myCheckthietbi1").checked = false ;
				
				}
				else if(DataJson.TB1 == 1)
				{
					document.getElementById("den1").src="images/on.jpg";
					document.getElementById("myCheckthietbi1").checked = true ;
					
				}
				
			}
			
			
			if(DataJson.TB2 != null)
			{
				//document.getElementById("cai3").innerHTML = DataJson.C3;
				
				if(DataJson.TB2 == 0)
				{
					document.getElementById("den2").src="images/off.jpg";
					document.getElementById("myCheckthietbi2").checked = false ;
				}
				else if(DataJson.TB2 == 1)
				{
					document.getElementById("den2").src="images/on.jpg";
					document.getElementById("myCheckthietbi2").checked = true ;
				}
				
			}
			
			
		
	}
	else 
	{
		console.log("JSON Error!!!");
	}




});


function IsJsonString(str)
			{
				try
				{
					JSON.parse(str);
				} 
				catch (e)
				{
					checkjson = false;
					return false;
				}
				checkjson = true;
				return true;
			}





	  
</script>

</head>

 
<body >
	
    <!-- Header -->
    
   
    
<div class="clock">
    <div class="date">
        <span id="day"></span>
        <span id="day1"></span>
        <span id="month"></span>
        <span id="year"></span>
    </div>
    <div class="time">
        <span id="hour"></span>
        <span id="minute"></span>
    </div>
</div>

    <section id="dashboard">
        <div class="dashboard container">
            
           <table width="700" height="400" border="6" cellpadding="10" align="center" >	 
	 <tr>
	      <th bgcolor="#FF9900"  colspan="5"> <center> <font size="10"> <span style = "color: red"> Trạng thái bãi đỗ xe</span></font></center></th>
	 </tr>	 
	 <tr>
        
		<td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái vị trí 1 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">
		<img id="den1"src="images/on.jpg" />
        </td>	

        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái vị trí 2 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">
			<img id="den2" src="images/on.jpg" />
        </td>	

     </tr>
	 
	 <tr>
        
		<td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái vị trí 3 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">  
		<img id="den3" src="images/on.jpg" />
        </td>
        <td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái vị trí 4 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">
			<img  id="den4" src="images/on.jpg" />
        </td>			
     </tr>
	 	
     <tr>
        
		<td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái vị trí 5 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">
			<img  id="den4" src="images/on.jpg" />
        </td>
        	<td bgcolor="#FFFF00" colspan="1"> <center> <span style = "color: Blue"> <b>  Trạng thái vị trí 6 </b>  </span> </center> </td>
		<td bgcolor="#ffffff" colspan="2" align="center">
			<img  id="den4" src="images/on.jpg" />
        </td>	
     </tr>	
     	

		
		
	 </table>	
	 
	 </div>
	 </br>
	 </br>
	 </br>
	 </br>
	 </br>
	 </br>
	 
	 
    </section>
 
 
   
    <!-- End About Section -->

    <!-- Contact Section -->
	
	
	
    <!-- End Contact Section -->
    
<script>
var day = document.getElementById('day')
var day1 = document.querySelector('#day1')
var month = document.querySelector('#month')
var year = document.querySelector('#year')
var hour = document.querySelector('#hour')
var minute = document.querySelector('#minute')
setInterval(()=>{
    var now = new Date()
    switch (now.getDay()){
        case 1:
        day.innerHTML='Monday, '
            break
        case 2:
        day.innerHTML='Tuesday, '
            break
        case 3:
        day.innerHTML='Wednesday, '
            break
        case 4:
        day.innerHTML='Thursday, '
            break
        case 5:
        day.innerHTML='Friday, '
            break
        case 6:
        day.innerHTML='Saturday, '
            break
        case 7:
        day.innerHTML='Sunday, '
            break
        }
    day1.innerHTML=now.getDate()+'/'
    month.innerHTML=now.getMonth()+1+'/'
    year.innerHTML=now.getFullYear()
    if(now.getHours()>=10)
    hour.innerHTML=now.getHours()+' :'
    else hour.innerHTML='0'+now.getHours()+' :'
    if(now.getMinutes()>=10)
    minute.innerHTML=now.getMinutes()
    else minute.innerHTML='0'+now.getMinutes()
},1000)
</script>
</body>



</html>